---
---

@import "{{ site.theme }}";

#header nav li a {
    background-color: #bd2020;
    border: 1px solid #4b1919;
}

#header nav li a:hover {
    background-color: #da2525;
    border: 1px solid #301010;
}

#header {
    background: #ac4646;
    // border-bottom: 4px solid #8b2b2b;
    border-bottom: 2px solid white;

}

section #title {
    margin: 0 0 10px 0;
}

#footer nav {
    // max-width: 650px;
    align-content: center;
    text-align: center;
}

#footer nav li {
    display: inline;
    list-style: none;
    align-items: center;
    padding: 30px;
}

#footer nav li a {
    display: inline-block;
    text-align: center;
}

#newpost {
    background-color: #252020; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

ol ol {
    margin: 0 0 0 0; 
}

ol ul {
    margin: 0 0 0 0;
}

ul ol {
    margin: 0 0 0 0;
}

ul ul {
    margin: 0 0 0 0;
}

@media print, screen and (max-width: 480px) { 
  #header { margin-top: 0px; }
  section { margin-top: 60px; }
  nav { display: block; } 
}