<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    {% include head.html %}
</head>

<body>
	{% include nav.html %}

	<div class="wrapper">
		<section>
			<div id="title">
				<h1>{{ site.display_title | default: site.github.repository_name }}</h1>

				<div style="text-align: center">
					<img
						src="{{site.baseurl}}/assets/img/duality.svg"
						width=150px
						height=150px
						>
				</div>

				<p>{{ site.description | default: site.github.project_tagline }}</p>
			</div>

			<hr>

			<!-- Latest post -->
			{% assign post = site.posts.first %}
			<div id="newpost">
				<h2 style="text-align: center;">Latest Post</h2>
				
				{% include postbox.html %}
			</div>

			<hr style="margin-top: 15px;">

			<div style="text-align: center">
				{{ content }}
			</div>

		</section>
	</div>

	{% include footer.html %}

	{% include google_analytics.html %}
</body>

</html>