<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    {% include head.html %}

    {% if page.hasmath  %}
        <script type="text/javascript" async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    {% endif %}
</head>

<body>
    {% include nav.html %}

    <div class="wrapper">
        <section class="content">
            <div id="title">
                <!-- Name of article and date of publish -->
                <h1>{{ page.title }}</h1>
                <p>{{ page.date | date: "%B %-d, %Y" }}</p>

                <!-- Calculated reading time for article based on number of words -->
                {% assign word_count = content | number_of_words %}
                <p style="font-size: 16px; font-style: italic; margin: 0 0 0 0">Estimated reading time: <b>{{word_count | divided_by: 250}}</b> minute(s)</p>
                <p style="font-size: 16px; font-style: italic">Roughly <b>{{word_count}}</b> words</p>

                <!-- Tags of post -->
                <div style="text-align: center; line-height: 2.5">{% for tag in page.tags %}
                    {% assign posttag = tag %}
                    <a href="{{site.basurl}}/tags/{{posttag}}" class="tagbox" style="font-size: 14px">{{posttag}}</a>
                {% endfor %}</div>
                <!-- End tags for post -->
                <br>
                <hr>
            </div>

            {{ content }}

            <!-- QED Mark -->
            <p style="text-align: right; font-size: 24px">☐</p>
        </section>

        <!-- References for post, should they exist -->
        {% if page.references.size > 0 %}
            <h1>References</h1>

            <ul>
                {% for ref in page.references %}
                    <li>{{ref}}</li>
                {% endfor %}
            </ul>

        {% endif %}
    </div>

    {% include footer.html %}

    {% include google_analytics.html %}
</body>

</html>