<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}

    <div class="wrapper">
        <section>
            <div id="title">
                <h1>Posts in {{page.tag | capitalize}}</h1>
                <hr>
            </div>

            <!-- For each published post -->
            {% for post in site.posts %}
                {% if post.tags contains page.tag %}
                    <div>
                        {% include postbox.html %}
                        
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
            
        </section>
    </div>

    {% include footer.html %}

    {% include google_analytics.html %}
</body>

</html>